body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Arial, sans-serif;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    height: 50px;
    width: 105px;
    font-size: 12px;
}

.fa {
	padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.header {
	padding-top: 50px;
	margin-left: 145px;
	height: 717px;
	width: 77%;
	font-size: 30px;
	display: inline-block;
	position: relative;
}

.title {
	margin-left: 0px;
	width: 400px;
	height: 140px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.title img {
	height: 100%;
	width: 100%;
}

.bar{
	margin-left: 10px;
	height: 50px;
	width: 550px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.button {
	display: inline-block;
	height: 50px;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size: 17px;
}

#about {
	margin-left: 145px;
	height: 325px;
	width: 77%;

}

#aboutTxt {
	display: inline-block;
	height: 325px;
	width: 50%;

}

#about img {
	display: inline-block;
	height: 85%;
	width: auto;
	padding-left: 90px;
}

#kidsDos {
	height: 400px;
}

#projects {
	height: 550px;
	width: 77%;
	margin-left: 145px;
}

#projects iframe {
	margin-left: 185px;
}

#team {
	height: 683px;
	width: 77%;
	margin-left: 145px;
}

#teamPic {
	height: 520px;
}

#donate {
	height: 502px;
	width: 78%;
	margin-left: 145px;
}

#donatePic {
	height: 300px;
}

.other {
	height: 275px;
	width: 78%;
	margin-left: 145px;
}
